1. What are the differences between operators and values in the following?
*
'hello'
-87.8
-
/
+
6

Ans :  
Operators are  
* 
- 
/
+

Values are 
'hello'
-87.8 
6

2. What is the difference between string and variable?
spam
'spam'

Ans:
Variable : A name given to the memory location where the values is stored in the memory - avariables are containers 
           for storing data value, a python variable can take any values, like, int, float or string. 
           Example A = 100
                   B = 20.5
                   name = 'Santhi'

String : Represents a text value enclosed with in two double quotes or two single quotes. 
    Example "Santhi", "iNeuron"
    
spam is a variable
'spam' is a string

3. Describe three different data forms.

Ans : 
Three data types in python
- int - A positive or negative whole number without a decimal point. example  x = 100
- floating point numbers - A positive or negative whole number with a decimal point. y = 100.5
- string - any text with in two single or double quotes. name = 'Santhi'

In [4]:
x = 10
print("x =100 ---->" ,type(x))

y = 10.5
print("y = 10.5 --->:",type(y))

z = 'Santhi'
print("z = 'Santhi' --->" , type(z))

x =100 ----> <class 'int'>
y = 10.5 --->: <class 'float'>
z = 'Santhi' ---> <class 'str'>

4. What makes up an expression? What are the functions of all expressions?

Ans :
Expression : An Expression is a combination of variables and operators. There expressions perform operation of variable based on the operators and evaluates the values to a single variable.

In [5]:
# variables 
x = 10
y = 20

# The expression - sum
z = x + y
    
# Evalues and store the value in z
print('z = {} + {}'.format(x,y))
print('z =',z)

z = 10 + 20
z = 30

5. In this chapter, assignment statements such as spam = 10 were added. What's the difference between a declaration and an expression?

Ans : 
- The assignemnt statemets assign a value to the variable.
- The expressions evalues the value to a variable.
- in spam = 10 , value 10 in assigned to spam, and now spam will have value 10.
- But in expression z = x + y, the value of x depends on the value of x and y.

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

Ans :

becon will still have value 22.

The becon is assinged with 22, but becon + 1 is not reassigned to becon again like, becon= becon + 1. So the value of becon is not changed

In [9]:
bacon = 22
print("bacon =  ", bacon)
print(bacon+1)
c = bacon + 1
print('c = bacon + 1 ---> ',c)
print('bacon = ',bacon)

bacon =   22
23
c = bacon + 1 --->  23
bacon =  22

7. What should the values of the following two terms be?

'spam' + 'spamspam'
'spam' * 3

Ans : 
 Both outputs 'spamspamspam'

In [12]:
print("'spam' + 'spamspam' ---> ", 'spam' + 'spamspam')
print("'spam' * 3 ---> " , 'spam' * 3)

'spam' + 'spamspam' --->  spamspamspam
'spam' * 3 --->  spamspamspam

8. Why is it that eggs is a true variable name but 100 is not?

Ans : 
    - Variable name can not starts with numbers.

Rules for Python variables:
    - A variable name must start with a letter or the underscore character.
    - A variable name cannot start with a number.
    - A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
    -Variable names are case-sensitive (age, Age and AGE are three different variables)

In [13]:
eggs = 10
eggs

10

In [14]:
100 = "hundred eggs"
100

SyntaxError: can't assign to literal (<ipython-input-14-fa75544bfef0>, line 1)

9. Which of the following three functions may be used to convert a value to an integer, a floating-point number, or a string?

Ans : 

Below are function used to convert a value to an integer, a floating-point number, or a string
- int()
- float()
- str()

In [18]:
 a = 10.6
print('a = ', a)
print(int(a))

b = 5
print('b = ', b)
print(float(b))

c = 56
print('c = ', c)
str(c)

a =  10.6
10
b =  5
5.0
c =  56

'56'

10. What is the error caused by this expression? What would you do about it?

'I have eaten ' + 99 + ' burritos.'


Ans : 

- This will error out since string concatination with interger values can not be performed.
- This can be fixed by converting 99 into string by str(99)

In [19]:
'I have eaten ' + 99 + ' burritos.'

TypeError: must be str, not int

In [20]:
'I have eaten ' + '99' + ' burritos.'

'I have eaten 99 burritos.'